{% extends "main.html.twig" %}



{% block body %}



    <section class="section author full-space mb-40 pt-55">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="widget-author inner-width">
                        <a href="author.html" class="image">
                            <img src="/img/author/1.jpg" alt="">
                        </a>
                        
                        {% if session.auth %}
                            <h6><span>Bonjour, {{ session.login }}</span></h6>
                        {% endif %}
                        </br>
                        <div class="link">{{ posts|length }} Articles</div>
                        <p> I'm David Smith, husband and father , I love Photography,travel 
                            and nature. I'm working as a writer
                            and blogger with experience of 5 years until now.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!--masonry-layout-->
    <section class="section masonry-layout pt-45">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card-columns">
                        <div> {% for post in posts %} 
                            <div class="card">
                                <div class="post-card">
                                    <div class="post-card-image">
                                        <a href="/posts/{{ post.id }}">
                                            <img src=" {{ post.postImage }} " alt="">
                                        </a>
                                    </div>
                                <div class="post-card-content">
                                    <a href="/posts/{{ post.id }}" class="categorie"> {{ post.postTitle }}</a>
                                        <h5>
                                            <a href="/posts/{{ post.id }}"></a>
                                        </h5>
                                            <p>{{ post.postText|slice(0, 200) ~ '…' }}
                                            </p>
                                <div class="post-card-info">
                                    <ul class="list-inline">
                                        <li>
                                            <a href="author.html"></a>
                                        </li>
                                        <li>
                                            <a href="/posts/{{ post.id }}">{{ post.postAuthor }}</a>
                                        </li>
                                        <li class="dot"></li>
                                        <li>{{ post.postDate|date("d/m/Y") }}</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
            {% endfor %}
                </div>
            </div>
                <!--pagination-->
                <div class="pagination mt-30">
                    <ul class="list-inline">
                        <li class="active">
                            <a href="#">1</a>
                        </li>
                        <li>
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>
                        <li>
                            <a href="#">4</a>
                        </li>
                        <li>
                            <a href="#">
                            <i class="arrow_carrot-2right"></i>
                        </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--/-->


{% endblock %}